<configuration>
    <!-- Import Default Console Logger To Print On The Console in the Default Way-->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <!-- Define the file appender -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/CustomerRelationshipManagement.log</file>
        <encoder>
            <!-- Define the log message format to save on the file -->
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Specify the root logger -->
    <root level="info">
        <!-- Attach both appenders to the root logger (to save on the file and print on the console) -->
        <appender-ref ref="FILE" />
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
